@import 'tailwindcss';

@font-face {
  font-family: 'Get Schwifty';
  src: url('./fonts/get_schwifty.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  font-family: 'Get Schwifty', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
